@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body 
{
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    font-family: 'Poppins', sans-serif;
}

@-webkit-keyframes slidein 
{
    from 
    {
        background-position: top;
        background-size: 3000px;
    }

    to 
    {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein 
{
    from 
    {
        background-position: top;
        background-size: 3000px;
    }

    to 
    {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}

.center 
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(75, 75, 250, 0.3);
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,1fr);
    gap: 1rem;
}

.navbar-grid-template
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.title-name
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-name>h1
{
    font-weight: bolder;
}

.search-element
{
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input,
button 
{
    box-sizing: border-box;
}

.search-element > *
{
    height: 35px;
    border: 0px;
}

input
{
    width: 60%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 20px;
}

input:focus
{
    outline: none;
}

.search-button
{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
}

.github-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 6;
}

.github-img
{
    width: 40px;
    transition: transform 0.3s ease;
}

.github-img:hover 
{
    animation: rotateAnimation 4s linear infinite;
}

@keyframes rotateAnimation 
{
    from 
    {
        transform: rotate(0deg);
    }

    to 
    {
        transform: rotate(360deg);
    }
}

.main-content-grid-template
{
    grid-row-start: 2;
    grid-row-end: 9;
    display: flex;
    justify-content: center;
}

.weather-informtation-grid-template
{
    width: 60%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1rem;
}

.location-time-information-grid
{
    grid-column-start:1;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temperature-information-grid
{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.weather-img-temperature-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon-svg
{
    width: 10%;
}

.Weather-description-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feels-like-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.air-description-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wind-speed-information-grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.humidity-information-grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uv-index-information-grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.visibility-information-grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cloudiness-information-grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chances-of-rain-information-grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sunrise-time-information-grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sunset-time-information-grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.moon-phase-information-grid
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}